header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    display: sticky;
    top: 0;
    z-index: 1;
  
    .navbar { 
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 180px;

        }

        ul  {
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 60px;
            background-color: var(--color-neutral-1);
            left: 0;
            padding: 1rem;
            
            &.show {
                display: flex;
                
            }

            li {
                text-align: center;


                a {
                    text-decoration: none;
                    color: var(--color-neutral-8);
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.2s ease;

                    &:hover {
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1);
                    }
                }

            }
        }
    }
}

   .btn-default {
    display: none;
}

@media (min-width: 768px) {
    header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                position: static;
                flex-direction: row;
                gap: 1rem;
                width: auto;
                padding: 0;

                .btn-default {
                    display: block;
            }
        }
    }

   }
}